body {
  background-color: #F0F0F0;
}

.quantico-font {
  font-family: Quantico;
  font-size: 36px;
  font-weight: bold;
  color: #1244A5
}

.roboto-font {
  font-family: Roboto;
}

.images {
  width: 40px;
  height: 40px;
}

.list-type-none {
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

.back {
  font-size: 18px;
}
