body {
  background-color: #F0F0F0;
}

.profilePic {
  border-radius: 50%;
}

.quantico-font {
  font-family: Quantico;
  font-size: 36px;
  font-weight: bold;
  color: #1244A5
}

.roboto-font {
  font-family: Roboto;
}

.btn-color {
  background-color: #1244A5;
  color: white;
}
.images {
  width: 40px;
  height: 40px;
}

.standardMapView {
  position: absolute;
  border-radius: 20px;
  border-style: none;
  background-color: #fff;
  padding: 5px 15px;
  bottom: 30px;
  right: 10px
}

.standardMapView:hover {
  background-color: rgb(181, 181, 181);
}
