body {
  background-color: #F0F0F0;
}

.profilePic {
  border-radius: 50%;
}

.quantico-font {
  font-family: Quantico;
  font-size: 36px;
  font-weight: bold;
  color: #1244A5
}

.roboto-font {
  font-family: Roboto;
}

.btn-color {
  background-color: #1244A5;
  color: white;
}

.images {
  min-width: 43px;
  height: 43px;
}

.nav {
  background-color: #1244A5;
}

.nav-icon {
  width: 38px;
  height: 38px;
}

.list-type-none {
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

.back {
  font-size: 18px;
}
